/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log
AGENTS.md

.idea

coverage
scripts/

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa
.turbo/
test-results/
playwright-report/
*.log
test-*.ts
